main{
    margin-top: 4em;
    left: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.signup-box{
    position: absolute;
    width: 25em;
    height: 30em;
    align-self: center;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-form{
    display: flex;
    flex-direction: column;
}
.account{
    align-self: center;
    margin-bottom: 1em;
    height: 3em;
    width: 80%;
    border-radius: 1em;
    background-color: #F9F9F9;
    border-radius: 1em;
    padding-left: 1em;
    border: 1px solid #131045;
}


.password{
    align-self: center;
    margin-bottom: 1em;
    height: 3em;
    width: 80%;
    border-radius: 1em;
    background-color: #F9F9F9;
    border-radius: 1em;
    padding-left: 1em;
    border-color: #131045;
    border: 1px solid #EAA451;
}

.signup{
    align-self: center;
    margin-bottom: 0.5em;
    width: 80%;
    text-align: center;
    color: darkorange;
    font-size: 1.2rem;
    margin-top: 1em
}
.lb{
    color: #131045;
    font-size: 1.3rem;
    font: bold;
}
.ll{
    color: #EAA451;
    font-size: 1.3rem;
    font: bold;
}


.signup-box .logo{
    position: absolute;
    top: 0;
    align-self: center;
}
.actions{
    display: flex;
}
.signupbutton{
    align-self: center;
    margin: auto;
    height: 2.5em;
    width: 40%;
    border-radius: 1.5em;
    border: 1px solid #131045;
    background-color: #EAA451;
    font: bold;
    font-size: 1em;
    color: #131045;
    
}
.signupbutton:hover{
    background-color: #131045;
    color: #EAA451;
    border-color: #EAA451;
    width: 50%;
    height: 3em;
}
.othersignup{
    width: 80%;
    align-self: center;
    margin-top: 2em;
    height: 2em;
    display: grid;
    grid-template-rows: 2em;
    grid-template-columns: 1fr 1fr;
}
.signupwfb{
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-content: center;
}



.signupwgmail{
    height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
.signupwgmail img{
    height: 2em;
    width: 6em;
}
.tologin{
    align-self: flex-end;
    font-size: 1em;
    color: #131045;
    margin-top: 1em;
    margin-right: 1em;
}
.tologin:hover{
    color: #d14444;
}

body{
    background-image: url(../picture/tron.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: 75%;
    background-position-y: bottom;
}
main{
    background-image: url(../picture/background1.png);
    background-size: 40%;
}
@media only screen and (max-width: 1024px) {
    main{
      top: 5em;
      left: 0;
      width: 100%;
    }
    main .logo{
      display: block;
    }
    .signup-box{
      width: 80%;
      max-width: 25em;
    }
  }
  @media only screen and (max-width: 450px) {
    main .logo{
      display: none;
    }
  }